cosign.key
cosign.private
/Containerfile

# macOS junk files
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files di sistema macOS nelle cartelle di rete/USB
.Spotlight-V100
.Trashes

# --- SICUREZZA ---
# Non caricare MAI la tua chiave privata di cosign!
cosign.key

# Altri file temporanei
*.log
.vscode/